:root{
    --dark: #1a1a1a;
    --white: #ffffff;
    --ligh-grey: #efefef;
    --gold: #ecd5a7;

}

body {
    margin: 0px;
    padding: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: .05rem;
    background-color: var(--dark);
}


.jumbotron{
    background-image: url("https://dmdiluminacion.com/wp-content/uploads/hotel-lp-012-1200x498.jpg");
    background-size: cover;
    color: white;
    margin-top: 50px;
    height: 350px;
    text-shadow: black 0.1rem 0.1rem, 0.2rem;
}


/* Se la da una sombra leve al texto para que se aprecie
incluso con una imagen de fondo, ya que con una imagen de fondo
usualmente no se lee bien el texto. Esto lo soluciona*/
.tit{
    color: white !important;
    text-shadow: rgb(0 0 0 / 90%) 0px 0px 15px
}

.navbar{
    min-height: 5rem;
}

.text-gold, .golden{
    color: var(--gold) !important;
}

.badge{
    font-weight: 500;
    padding: .5rem 1.5rem;
    line-height: 1.5;
}

.btn-secondary{
    background-color: var(--dark);
}

.habitaciones{
    padding: 6rem 0;
}

.bg-gold, .btn-gold{
    background-color: var(--gold);
}

.bg-dark{
    background-color: var(--dark) !important;
}

.bg-light-grey{
    background-color: var(--ligh-grey);
}

.footer{
    padding: 10px 10px 0 10px;
    margin-bottom: 10px;
    background: #2D3F9C;
    margin-top: 10px;
    color: white;
}

a{
    color: white;
}

.footer-link{
    padding-right: 15px;
}

.footer-social{
    padding-left: 15px;
}



.mt-6{
    margin-top: 4rem;

}

/* Se indica que todos los elementos tengan
el mismo ancho y alto, el cual se define acá*/
.card-hotel{
    flex: 1 200px;
    margin-top: 10px;
    margin-right: 20px;
}


.btn-reserva{
    width: 100%;
    color: white; 
    border-radius: 0px;
}

.btn-reserva:hover{
    width: 100%;
    color: white; 
    background: #3E8C44;
    border: 0;
}

.hotel{
    border-right: 3px solid;
}

.footer-address-icon{
    padding-right: 10px;
}

.pregunta{
    border-bottom: 1px solid;
    margin-bottom: 30px;
    padding-bottom: 30px;
}

.form{
    border: 1px solid;
    padding: 20px;
    padding-top: 50px;
    margin-top: 60px;
    margin-bottom: 100px;
}

/*
.navbar-blue{
    background: #2D3F9C !important;
    border-bottom: 1px solid white;
}
*/

.black:hover{
    background: white;
    color: black !important;
    border-radius: 20px;
    padding:5px;
}


.titulo:hover{
    color: var(--gold);
    padding-right: 5px;
    padding-left: 5px;
}


.breadcontacto{
    margin-top: 100px !important;
}

.menu{
    color: white !important;
    background: white;
}



.star{
    color: #F7C343 !important;
}

.hamburguer{
    color: white;
}

